# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\mnmz4\OneDrive\Desktop\דברים שאני צריך להוסיף לגיט\Python Reading Files Files\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
